body{
    font-family: 'Gentium Basic', serif;
    background:#ccc;
    margin:0;
}

.clr{
    clear: both; /*clears floats above div */
}

.container{
    width:80%;
    max-width: 900px;
    margin:auto;    
    background: #fff;
    padding-top:10px;
}
.siteintro{
    background: #2222AA;
    border: 3px solid #ccc;
    border-radius: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 20px auto;
    width:400px;
}

.nameHeader {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 0.2em;
    background: #2222AA;
    color: #fff;
    text-align: center;    
    padding-bottom: 1em;
}


.nameHeader h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 48px;
    letter-spacing: 0.2em;
    background: #2222AA;
    color: #fff;
    text-align: center;    
    margin:auto;
}

.nameContent{
    background: #fff;
    width:100%;
    font-family: 'Eczar', serif;
}

.nameContent h1{  
    background: #fff;
    width: 100%;
    font-family: 'Eczar', serif;
    margin:auto;
    text-align: center;
}

.subIntro {
    font-family: 'Gentium Basic', serif;
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    padding: 10px;
    width:100%;
    background: #dcc;
    box-sizing: border-box;
}

.topics
{
    float: left;
    padding: 10px;
    width:60%;
    box-sizing: border-box;
}

.topics li {
    padding-bottom: .3em;
    list-style-image: url('../img/check10.png');
    font-size: 20px;
}

.topics-sidebar{
    float: right;
    width:40%;
    padding: 15px;
    box-sizing: border-box;   
}

.topics-sidebar img {
    width:100%;
    max-width: 300px;
}

