body {
    margin:0;
    padding:0;
}
body * {
    transition: all 200ms linear;
}
#pgHeader {
    font-size: 1.5em;
    color: yellow;
    background-color: darkblue;
    /*background-image: URL('images/ludomil-CpRgdiz24z0-unsplash.jpg') no-repeat left top, linear-gradient(to right, darkblue , darkgrey);  */
    background: linear-gradient(to right, darkblue, darkgrey);
    box-sizing: border-box;
    top: 0;
    left: 0;
    padding: 5px;
    padding-left: 10px;
    width: 100%;
    position: fixed;
    box-shadow: 0px 5px 6px #FFF;
    height: 46px;
    z-index: 250;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.pgHeaderTitle {
    text-shadow: 0 0 10px yellow;

}
.pgHeaderVersion {
    font-size: 12px;
}

.pushdown {
    display: block;
    height: 85px;
    margin-top: -85px;
    visibility: hidden;
}

.container {
    padding: 50px 10px 75px 10px;
}

.categorycard{
    background-color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width:300px;
    box-sizing: border-box;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    margin-top:2px;
    border: 1px solid blue;
    transition: background-color 200ms linear;
}
.categorycard:hover{
    color: yellow;
    background-color: blue;
    /*background-image: linear-gradient(to right, blue, darkgrey);*/
}
.categorycard>div{
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width:100%;
    padding-right:10px;
    transition: background-color 200ms linear;
}
.categorycard>button{
    background-color: white;
    width:30px;
    
    margin:0;
    box-sizing: border-box;
}

.spanlink {
    cursor: pointer;
    text-decoration: none;
    color: darkblue;
}
.spanlink:hover {
    text-decoration: underline;
    color:blue;
}

.catControls {
    margin-top:10px;

}

.catControl {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width:600px;
}

.catName {
    font-size: 20px;
}

.inputDivElement {
    margin-bottom: 10px;
}
.inputDivElement >input {
    margin-bottom:0;
}

.inputerror {
    color: red;
}

.imagelist {
    display: flex;
    flex-flow: row wrap;
}


.pictureContainer {
    position: relative;
    padding-bottom: 5px;
    border-radius: 10px;
    width: 99vw;
    max-width: 300px;
    border: 1px solid black;
    margin: 10px;
}

.pictureElement{
    position: relative;
    width: 99vw;
    max-width: 300px;
    margin-bottom: 60px;
    height:100%;
}

.pictureElement > img {
    top:0;
    left:0;
    margin:0;
    padding:0;
    width: 99vw;
    max-width: 300px;
    border-radius: 10px 10px 0 0;
}

.imageCaption {
    position: absolute;
    bottom:60px;
    left:0;
    opacity: 1.0;
    font-weight: bold;
    padding:5px;
    box-sizing: border-box;
}
.imageCaptionMask {
    position: absolute;
    bottom:60px;
    left:0;
    background-color: #d1d1d1;
    opacity: 0.7;
    width:100%;
    font-weight: bold;
    padding:5px;
    box-sizing: border-box;
}

.imageControl{
    position: absolute;
    border-top:1px solid black;
    width:100%;
    bottom:0;
    left:0;
    padding:5px;
    box-sizing: border-box;
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.formPic {
    max-width: 600px;
}

.formPic > #formPic_title {
    margin-top:10px;
    margin-bottom: 10px;
    color: darkblue;
    font-size: 20px;
}

.formPic > img {
    max-width: 300px;
    max-height: 300px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 10px;
    display: none;
}
